
body {
   margin: 0;
   padding: 0;
   text-align: center;
   background: url('home3.jpg') no-repeat;
   background-size: cover;
   background-position: center;
   font-family: sans-serif;
}


.navbar a {
	font-size: 18px;
	color: #ededed;
	text-decoration: none;
	font-weight: 0;
	margin-left: 35px;
	transition: .3s;
	animation-name: entrance-zoom-in;
  animation-duration: 3s;
  animation-fill-mode: both;

}
@keyframes entrance-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.navbar a:hover,
.navbar a:active {
	color: #00abf0;
}

.contact-title {
	position: relative;
  display: inline-block;
	margin-top: 10%;
	color: #00abf0;
	text-transform: uppercase;
	animation: waviy 3s infinite;
	animation-name: waviy;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: calc(.3s * var(--i));


  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.contact-title h1 {
	font-size: 32px;
	line-height: 10px;


}
.contact-title h2 {
	font-size: 16px;
}
form {
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form-control {
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid dimgray;
	color: white;
	font-size: 18px;
	margin-bottom: 16px;
	max-width: 500px;
  padding: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .5);
  overflow: hidden;
  color: #fff;
}
input {
	height: 45px;

}
form .submit{
	background-color: darkcyan;
  border: none;
  color: white;
  padding: 1% 1%;
  text-align: center;
  font-size: 100%;
  margin: 10px 5px;
  opacity: 10;
  transition: 0.3s;

}
form .submit:hover {
	background-color: #00abf0;
}
.home-sci a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
	color: white;
} 

