@import url('<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	/*background: #081b29;*/
	color: #ededed;
}
img {
  width: 120px;
  height: auto;
}


.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items:center ;
	z-index: 100;

}
.image-container {
  position: relative;
  top: -40px;
	left: 8%;
  width: 80%;
  animation-name: entrance-bounce;
  animation-duration: 1s;
  animation-fill-mode: both;

  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.logo {
	position: relative;
	font-size: 25px; 
	color: #ededed;
	text-decoration: none;
	font-weight: 600;

}
.logo::before {
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
	font-size: 18px;
	color: #ededed;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
	animation-name: entrance-zoom-in;
  animation-duration: 3s;s
  animation-fill-mode: both;
}
@keyframes entrance-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.navbar a:hover,
.navbar a:active {
	color: #00abf0;
}


.home {
	height: 100vh;
	/*background: #0C090A;*/
	background: url('home3.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 0 10%;

}
.home-content {
	max-width: 600px;

}

.home-content h1{
	line-height: 2;
	position: relative;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;
	animation-name: entrance;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*.home-content h1::before {
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
} */

.home-content h3{
	line-height: 1.5;
	position: relative;
	font-size: 32px;
	font-weight: 700;
	color: #00abf0;
	animation-name: entrance-left;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes entrance-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.home-content p{
	line-height: 1.5;
  word-spacing: 1px;
	position: relative;
	font-size: 16px;
	margin: 20px 0 40px;
  text-indent: 10%;
	animation-name: entrance-bounce-in-bottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes entrance-bounce-in-bottom {
  0% {
    opacity: 0;
    transform: translate(0, 50%);
  }
  60% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  80% {
    transform: translate(0, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}


.home-content .btn-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 300px;
	height: 50px;
	transform: translateY(50%);
  animation-name: entrance-bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes entrance-bounce {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5%);
  }
}


.btn-box a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background-color: #0077ff;
  padding: 12px 20px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.btn-box a::before,
.btn-box a::after {
  content: '';
  position: absolute;
  left: -110%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(45deg) translateX(0);
  transition: all 0.3s ease-in-out;
}

.btn-box a::after {
  left: 110%;
  transform: skewX(-45deg) translateX(0);
}

.btn-box a:hover::before {
  transform: skewX(45deg) translateX(200%);
}

.btn-box a:hover::after {
  transform: skewX(-45deg) translateX(-200%);
}



.home-sci {
	position: absolute;
	bottom: 40px;
	width: 170px;
	background: transparent;
	display: flex;
	justify-content: space-between;
}


.home-sci a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
	color: white;
} 





